@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Lilita+One&family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@1,100&family=Smokum&family=Tilt+Prism&display=swap');



*{
box-sizing: border-box;
margin: 0%;

}

body{
    background-image: linear-gradient(to right, hsl(4, 100%, 73%) 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    color: rgb(237, 237, 241);
   
font-family: 'Lilita One', cursive;
font-size: larger;

}

/*header*/
header{
    background-color:  #30040c 78%, #940439 100%;
 border: 1px solid rgba(211, 180, 180, 0.384);
 padding: 10px;
}
.navegation{
    display: flex;
    justify-content: left;
}
.tprincipal{
padding: 20px;
}

.Ulist{
    display: flex;
}
li{
     list-style: none;
     padding: 20px;   
}




li:hover{
    background-color: #940439;
    color: black;
    border: 1px solid black;
    cursor:pointer ;
    transition: all 0.5s ease-out;
}

.iconP{
    width: 100px;
    margin-top: 1px;
    border-radius: 15%;
    box-shadow: 2px 3px 5px 2px #30040c;
}

/*body*/
menu{
    padding: 20px;
}
section {
    background-image: linear-gradient(135deg, rgb(233, 224, 224) 0%, white 100%);
    color: black;
    margin: 5px;
    border-radius: 10px;
    border: 5px solid rgb(83, 79, 79);
    box-shadow: 5 px 5px 5px 5px;
}
.imgsec2{
    display: flex;
    justify-content: center;
    
}
.imgsec1{
    display: flex;
    justify-content: center;
    
}
.imgsecuno, .imgsecdos{
    width: 20%;
    padding: 5px;
    margin: 30px;
    border-style: groove;
      
}
.imgsectres, .imgseccuatro{
    width: 20%;
    padding: 5px;
    margin: 10px;
    border-style: groove;
}
.imgsecdos:hover{
    width: 30%;
    border: 1 px solid rgb(9, 10, 10);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.imgsecuno:hover{
    width: 30%;
    border: 1 px solid rgb(18, 18, 19);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

}
.imgsectres:hover{
    width: 30%;
    border: 1 px solid rgb(18, 18, 19);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

}
.imgseccuatro:hover{
    width: 30%;
    border: 1 px solid rgb(18, 18, 19);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

}




.p1, .p2, .p3, .p4 {
    background-image: linear-gradient(to right, hsl(4, 100%, 73%) 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    color: rgb(28, 40, 211);
    padding: 20px;
    margin: 10;
    
font-family: 'Playfair Display', serif;
font-size: larger;
}

.t1, .t2, .t3, .t4{
    padding: 5px;
    margin: 1px;

}


/*footer*/

footer{
    background-image: linear-gradient(to right, hsl(4, 100%, 73%) 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);

padding: 20px;
border-top: 2px solid white;
}

.containerfooter{
    border: 1px solid white;
    display: flex;

}

form{
display: flex;
flex-direction: column;
background: #a5283f;
padding: 20px;
width: 50%;
}

input, textarea{
    padding: 10px;
    margin: 5 px;
}

.copy{
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
color: black;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;

}

.t3, .p3, .h4{
    padding: 20px;
}

.iconsocial{
    display: flex;
    justify-content: space-evenly;
}



